:root {
    /* Paleta de Cores */
    --fundo_light: #ffffff;
    --funco_dark: #343a40;
    --cor_azul: #007bff;
    --cor_cinza: #6c757d;
    --cor_txtPrincipal_light: #212529;
    --cor_txtPrincipal_dark: #ffffff;
    --destaque_cta: #fcbf49;
    --color_whats: #97FF3C;

    /* Fontes */
    --titulo: "Roboto Slab", serif;
    --texto: "Open Sans", sans-serif;
    --botoes_cta: "Poppins", sans-serif;
    --menu_link: "Montserrat", sans-serif;
}

/* Estilos Gerais */

body {
    background-color: var(--fundo_light);
}

h1, h2, h3 {
    font-family: var(--titulo);
    color: var(--cor_azul);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-family: var(--texto);
    color: var(--cor_txtPrincipal_light);
}

a {
    font-family: var(--menu_link);
    color: var(--cor_cinza);
    text-decoration: none;
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

section:not(section#hero) {
    padding: 40px;
    margin-top: 40px;
}

/* Estilo Geral Botão */

.btn {
    --_btn-shadow: var(--btn-shadow, rgba(0, 0, 0, 0.366));

    border: 1px solid transparent;
    border-radius: 16px;

    padding: .25em 1.25em;

    
    font-family: var(--botoes_cta);
    color: black;

    box-shadow: 2px 2px 3px 0px var(--_btn-shadow);

    transition: 
        font-weight .5s ease-in,
        text-decoration .5s ease-in,
        box-shadow .5s ease-in;
}

.btn:hover {
    cursor: pointer;
    box-shadow: none;
    font-weight: bold;
    text-decoration: underline;
}

/* Botão Whatsapp */

.btn_whats {
    background-color: var(--color_whats);
    color: black !important;
    /* --btn-shadow: #97ff3c4c; */
    transition: .4s;
}

.btn_whats i {
    color: black !important;
}

.btn_whats:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.btn_whats:hover i {
    font-weight: bold;
}