@charset "UTF-8";
@import url(./base.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header #menu {
    display: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .icone_menu {
    font-size: 1.875rem;
    color: var(--cor_azul);
}

header .icone_menu:hover {
    color: var(--cor_cinza);
}

header #menu_check {
    display: none;
}

header #menu_expandido {
    position: absolute;
    top: -100%;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: var(--cor_azul);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    transition: .4s ease-in;
}

header #menu_check:checked ~ #menu_expandido {
    top: 0;
}



#menu_expandido :where(i, p, a) {
    color: white;
    transition: .4s;
}

#menu_expandido :where(i, p, a):hover {
    cursor: pointer;
    color: var(--cor_cinza);
}

#menu_expandido > div.menu_header {
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 25px 30px;

    border-bottom: 1px solid rgba(224, 217, 217, 0.395);
}

#menu_expandido > div.menu_header :where(i, p) {
    font-size: 1.875rem;
}

#menu_expandido > div.menu_header > i:first-child {
    margin-right: 30px;
}

#menu_expandido > div.menu_header label {
    margin-left: auto;
}

#menu_expandido nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

#menu_expandido nav a {
    font-size: 1.875rem;
}

#menu_expandido nav ul > li:not(li:last-child) {
    margin-bottom: 40px;
}

#menu_expandido div.menu_footer {
    padding: 25px 30px;
    border-top: 1px solid rgba(224, 217, 217, 0.395);

    display: flex;
    justify-content: center;
}

#menu_expandido div.menu_footer p.btn_whats {
    display: inline;
    font-size: 1.5rem;
}

/* HERO SECTION */

#hero {
    height: calc(100vh - 70px);
    height: calc(100svh - 70px);

    background-image: url("../imgs/hero/banner_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 20px;
}

#hero .hero_back {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;

    background-color: black;
    height: 100%;
    width: 100%;
}

#hero :is(.hero_title, .hero_btn) {
    z-index: 1;
}

#hero .hero_title {
    font-size: 1.75rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.444);
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
}

#hero .hero_btn {
    background-color: var(--destaque_cta);
    font-size: 1.15rem;
    padding: .5em 1em;
    margin-bottom: 50px;
    border-radius: 69px;
}


/* SOBRE SECTION */

main > section#sobre {
    background-color: var(--cor_cinza);
    margin-top: 0;
    padding-top: 80px;
}

#sobre p {
    color: white;
    font-size: 1.375rem;
    text-indent: 20px;
    width: 25ch;
    margin-inline: auto;
    margin-bottom: 30px;
}

#sobre img {
    width: 100%;
    display: block;
    margin: auto;
}


/* SERVIÇOS */

#servicos .container_servicos {
    margin-top: 60px;

    display: grid;
    grid-template-columns: 100%;
    row-gap: 70px;
    justify-items: center;
}

#servicos > .container_servicos > .servico {
    --_cor-icone: var(--cor-icone, black);
    --_cor-sombra: var(--cor-sombra, rgba(0, 0, 0, 0.366));
    --_cor-botao-hover: var(--cor-botao-hover, var(--cor_txtPrincipal_light));

    display: flex;
    flex-flow: column;

    border-radius: 24px;

    background-color: #F8F9FA;

    padding: 20px;
    margin-left: 15px;

    width: 80%;
    min-height: 320px;

    box-shadow: 
        3px 3px 4px 1px rgba(0, 0, 0, 0.381),
        -19px -23px 6px 2px var(--_cor-sombra);
}

.servico > i {
    font-size: 2.75rem;
    color: var(--_cor-icone);
}

.servico > h3 {
    color: black;
    font-size: 1.5rem;
    margin: 10px auto;
}

.servico > p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.servico > button {
    display: block;
    margin: auto;
    padding: .5em 2em;
    border-radius: 23px;
    font-size: .9rem;
    transition: background-color .5s ease-in;
}

.servico > button:hover {
    background-color: var(--_cor-botao-hover);
    color: white;
    text-decoration: none;
}

#servicos .ser_remocao {
    --cor-icone: #DC3545;
    --cor-sombra: #F8D7DA;
    --cor-botao-hover: #DC3545;
}

#servicos .ser_formatacao {
    --cor-icone: #FD7E14;
    --cor-sombra: #FFE5D0;
    --cor-botao-hover: #FD7E14;
}

#servicos .ser_otimizacao{
    --cor-icone: #0D6EFD;
    --cor-sombra: #CCE5FF;
    --cor-botao-hover: #0D6EFD;
}

#servicos .ser_upgrade{
    --cor-icone: #6F42C1;
    --cor-sombra: #E2D9F3;
    --cor-botao-hover: #6F42C1;
}

#servicos .ser_recuperacao{
    --cor-icone: #198754;
    --cor-sombra: #D4EDDA;
    --cor-botao-hover: #198754;
}

#servicos .ser_manutencao{
    --cor-icone: #FFC107;
    --cor-sombra: #FFF3CD;
    --cor-botao-hover: #FFC107; 
}



/* SECTION DEPOIMENTOS */

section#depoimentos {
    background-color: var(--cor_azul);
}

#depoimentos > h1 {
    color: white;
}

#depoimentos .container_depoimentos {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
    justify-items: center;
}

.depoimento {
    background-color: white;
    border-radius: 19px;
    padding: 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.266);
    min-height: 394px;
}

.depoimento > p {
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 30px;

    position: relative;
}

.depoimento > p::before {
    content: open-quote;
    font-family: fantasy;
    font-size: 6rem;
    color: var(--cor_azul);
    position: absolute;
    top: -50px;
    left: 0;
}

.depoimento > p::after {
    content: no-close-quote;
}

.depoimento > .depoimento_pessoa {
    display: flex;
    align-items: center;
}

.depoimento_pessoa img {
    width: 35%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.depoimento_pessoa .pessoa_nome {
    color: var(--cor_azul);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}


/* SECTION CONTATO */

#contato > form {
    margin-top: 30px;
}

form :where(input:not(input[type="submit"]), textarea) {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: var(--texto);
    padding: 10px;
    background-color: #EDEDED;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.393);
}

form :where(input:not(input[type="submit"]), textarea):focus {
    outline-color: var(--cor_azul);
    box-shadow: none;
    background-color: #cfe5fd;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    background-color: #EDEDED;
    font-size: .9rem;
    padding: .5em 1.7em;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.245);
    transition: .5s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background-color: #cfe5fd;
    font-weight: bold;
    box-shadow: none;
    outline: none;
}

#contato .contato_dados > div > h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 1.8rem;
}

#contato .contato_dados > div > :where(p, div) {
    margin-left: 20px;
    font-size: 1.2rem;
}

#contato .contato_dados > div > p:hover {
    color: var(--cor_azul);
    font-weight: bold;
    text-decoration: underline;
}

#contato .contato_dados > div div {
    margin-top: 10px;
}

#contato .contato_dados > div i {
    font-size: 1.4rem;
}

#contato .contato_dados > div i:nth-child(2n) {
    margin-inline: 10px;
}

#contato .contato_dados > div i:hover,
#contato .contato_dados > div i:focus {
    color: var(--cor_azul);
    font-weight: bold;
}


/* FOOTER */

footer {
    padding: 40px;
    padding-top: 60px;
    background-color: var(--cor_cinza);
}

footer :where(p, a, i) {
    color: white;
}

footer p {
    text-align: justify;
}

footer ul {
    list-style: none;
}

.footer_dados > div {
    margin-bottom: 60px;
}

footer h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.footer_dados > .footer_tech p:first-of-type {
    margin-bottom: 15px;
}

.footer_dados > .footer_tech p:last-of-type {
    text-align: start;
}

.footer_dados > .footer_tech p:last-of-type > span:first-of-type {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
}

.footer_dados > .footer_tech p:last-of-type > span:hover {
    color: var(--cor_azul);
    text-decoration: underline;
}

.footer_dados > .footer_duvidas p {
    margin-bottom: 15px;
}

.footer_dados > .footer_duvidas i {
    font-size: 1.2rem;
}

.footer_dados > .footer_duvidas i:nth-child(2n) {
    margin-inline: 10px;
}

.footer_dados > .footer_duvidas i:hover {
    color: var(--cor_azul);
    font-weight: bold;
}

.footer_dados > .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_dados > .footer_nav li {
    margin-left: 20px;
}

.footer_dados > .footer_nav li:not(li:last-of-type) {
    margin-bottom: 15px;
}

.footer_dados > .footer_nav a:hover {
    color: var(--cor_azul);
}

.footer_rodape {
    /* border-top: 1px solid white; */
    padding-top: 25px;
    position: relative;
}

.footer_rodape::before {
    content: "";
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    width: 115%;

    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    transform-origin: center;
}

.footer_rodape p {
    text-align: center;
}

.footer_rodape p:first-child {
    margin-bottom: 10px;
}

.footer_rodape a {
    color: var(--cor_azul);
}